{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <h1>All articles from category -> {{ category.name }} : </h1>
    {% for article in articles %}
        <div>
            <h2>{{ article.id }} / {{ article.title }}</h2>
            <p>{{ article.content }}</p>
        </div>
    {% endfor %}
    <a href="{{ path('homepage') }}">
        Back to homepage.
    </a>
{% endblock %}
